@import "./utils/variables";
@import "./utils/placeholder";

@import "./base/common";
@import "./base/container";

@import "./components/logo";
@import "./components/menu";
@import "./components/items";
@import "./components/cocials";
@import "./components/bigblock";
@import "./components/buttons";
@import "./components/icons";
@import "./components/modal";
@import "./components/titles";
@import "./components/can";
@import "./components/about";

@import "./layout/sections";
@import "./layout/foter";
@import "./layout/navigations";
@import "./layout/header";
@import "./layout/team";
@import "./layout/project";
@import "./layout/catalog";

.logo {
  font-family: var(--mainfont);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  height: 31px;
  margin-right: 90px;
}
.logo-span {
  color: var(--bluecol);
}
.white-span {
  color: var(--backcol);
}
