.con-list {
  display: flex;
  margin-left: auto;
}
.con-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 3.14;
  letter-spacing: 0.02em;
  color: var(--contact-color);
  &:hover,
  &:focus {
    color: var(--bluecol);
  }
}
