.logo {
  font-family: var(--mainfont);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  height: 31px;
  margin-right: 90px;
}
.logo-span {
  color: var(--bluecol);
}
.white-span {
  color: var(--backcol);
}
